
<div class="container m-3">
  <h1>New Game</h1>
  <div class="m-3">
    <% abc = %w[A B C D E F G H I J K L M N O P Q R S T U V W X Y Z] %>
    <% @letters = [] %>
    <% 10.times { @letters << abc.sample(1) } %>
    <ul id="list">
    <% @letters.each do |letter| %>
      <li class="btn btn-primary"> <%= letter[0] %></li>
    <% end %>
    </ul>
  </div>
  <p class="m-3">What is the longest word you can find?</p>
  <form class="m-3"  action="/score" method="POST">
    <div class="form-group">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :grid, @letters %>
      <input type="text" class="form-control" name="word" placeholder="Type word here...">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>




